<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DashBros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DE6FAF61BD1EB54006245F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE6FB0E1BD1EB54006245F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE6FB191BD1EB55006245F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
